<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storyblok>
            <general>
                <resolve_links>url</resolve_links>
                <excluded_content_types></excluded_content_types>
                <webhook_signature_validation>1</webhook_signature_validation>
            </general>
            <home_page>
                <home_slug>home</home_slug>
            </home_page>
        </storyblok>
        <sitemap>
            <storyblok>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </storyblok>
        </sitemap>
    </default>
</config>
